{% extends "base.html.twig" %}

{% block body %}
<div class="skills content-page--shell content-page">
    {# The wander #}
    <div class="project-box">
        <div class="project__introduction">
            <img src="{{ asset('assets/img/projects/thewander.png') }}" alt="The Wander image" class="project__image">
            <h2 class="project__title">The Wander</h2>
            <div class="project__link">

                <a href="http://thewander.space" class="social__link ui animated button" alt="The Wander website link"
                    tabindex="0" target="_blank">
                    <div class="visible visible--icon content">
                        <i class="search icon"></i>
                    </div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </a>

                <a href="https://github.com/arnaud35300/projet-astronomie-api" class="ui animated button social__link"
                    alt="Github link" tabindex="0" target="_blank">
                    <div class="visible visible--icon content">
                        <i class="github icon"></i>
                    </div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </a>

            </div>
        </div>

        <div class="shell--projects top__biography shell--skills shell">
            {# top | terminal bar #}
            <div class="terminal-bar">
                <div class="bar-btn__group">
                    <div class="bar__btn btn--red"></div>
                    <div class="bar__btn btn--yellow"></div>
                    <div class="bar__btn btn--green"></div>
                </div>
                <div class="bar__name">guest@arnaud: ~</div>
                <div></div>
            </div>

            {# terminal content #}
            <div class="biography__content scrolling skills-line">

                <div class="terminal--display">
                    <p class="terminal-intro">
                        Welcome to Arnaud porfolio, the friendly and interactive portfolio.
                    </p>

                    <p class="terminal-command">
                        <span class="terminal-arrow">&#8702 </span> <span class="terminal-home">~ </span>
                        <span class="terminal-echo"> echo</span> <span class="echo-arg">The Wander description</span>
                    </p>
                </div>
            </div>

            <div class="skills-content skills-content--projects">
                <p>The project involves a ludic website, which allow astronomy fans and rookies to contribute to the
                    body of knowledge in this domain, using a custom fictive representation of space and stars in the
                    form of an interactive map.</p>

                <p>I worked on the back end of the site using php and the Symfony framework.</p>
                <p>I also coordinated the team as a git master</p>
            </div>

        </div>
    </div>

    {# Portfolio  #}
    <div class="project-box">
        <div class="project__introduction">
            <img src="{{ asset('assets/img/projects/portfolio.png') }}" alt="Portfolio image" class="project__image">
            <h2 class="project__title">Portfolio</h2>
            <div class="project__link">

                <a href="https://github.com/arnaud35300/Portfolio-official" class="ui animated button social__link"
                    alt="Github link" tabindex="0" target="_blank">
                    <div class="visible visible--icon content">
                        <i class="github icon"></i>
                    </div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </a>

            </div>
        </div>

        <div class="shell--projects top__biography shell--skills shell">
            {# top | terminal bar #}
            <div class="terminal-bar">
                <div class="bar-btn__group">
                    <div class="bar__btn btn--red"></div>
                    <div class="bar__btn btn--yellow"></div>
                    <div class="bar__btn btn--green"></div>
                </div>
                <div class="bar__name">guest@arnaud: ~</div>
                <div></div>
            </div>

            {# terminal content #}
            <div class="biography__content scrolling skills-line">

                <div class="terminal--display">
                    <p class="terminal-intro">
                        Welcome to Arnaud porfolio, the friendly and interactive portfolio.
                    </p>

                    <p class="terminal-command">
                        <span class="terminal-arrow">&#8702 </span> <span class="terminal-home">~ </span>
                        <span class="terminal-echo"> echo</span> <span class="echo-arg">Portfolio description</span>
                    </p>
                </div>
            </div>

            <div class="skills-content skills-content--projects">
                <p>This project meets my need to be able to share my work. There are still many possible improvements but the base is built. 
                This portfolio was developed with Symfony, Typescript, Animate.css and other tips that you can discover on github!</p>

                <p>I also wanted to add a touch of fun by implementing an interactive terminal that you can test <a href="{{ path('shell') }}" class="echo-arg" alt="shell link">here</a></p>
            </div>
        </div>
    </div>

    {# Food-administrator #}
    <div class="project-box">

        <div class="project__introduction">
            <img src="{{ asset('assets/img/projects/thewander.png') }}" alt="Food-administrator image" class="project__image">
            <h2 class="project__title">Food-administrator</h2>
            <div class="project__link">

                <a href="https://github.com/arnaud35300/Food-administrator-2.0" class="ui animated button social__link"
                    alt="Github link" tabindex="0" target="_blank">
                    <div class="visible visible--icon content">
                        <i class="github icon"></i>
                    </div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </a>

            </div>
        </div>

        <div class="shell--projects top__biography shell--skills shell">
            {# top | terminal bar #}
            <div class="terminal-bar">
                <div class="bar-btn__group">
                    <div class="bar__btn btn--red"></div>
                    <div class="bar__btn btn--yellow"></div>
                    <div class="bar__btn btn--green"></div>
                </div>
                <div class="bar__name">guest@arnaud: ~</div>
                <div></div>
            </div>

            {# terminal content #}
            <div class="biography__content scrolling skills-line">

                <div class="terminal--display">
                    <p class="terminal-intro">
                        Welcome to Arnaud porfolio, the friendly and interactive portfolio.
                    </p>

                    <p class="terminal-command">
                        <span class="terminal-arrow">&#8702 </span> <span class="terminal-home">~ </span>
                        <span class="terminal-echo"> echo</span> <span class="echo-arg">Food-administrator
                            description</span>
                    </p>
                </div>
            </div>

            <div class="skills-content skills-content--projects">
                <p>Tired of roughly monitoring your diet?</p>
                <p>It was my personal observation, this is how this project started. This meal manager allows you to reference all your meals and manage your diet thanks to the statistics generated.</p>
                <p>This site was developed with Symfony, Bootstrap, and JavaScript.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}