/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #eee;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 9999;
}

/* Sidebar links */
.sidebar>a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    letter-spacing: 1px;
}

/* Active/current link */
.sidebar a.active {
    background-color: #0A192F;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #0A192F;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content-page {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content-page {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 621px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.div {
    display: flex;
    justify-content: start;
}

/* icon in sidebar menu */
.menu__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 51px;
}

.social__icon:hover {
    color: #0A192F;
}

/* fonts */
* {
    overflow-x: unset;
}

.page {
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Oswald', sans-serif;
}

/*! home page */
.home {
    background-color: #0A192F;
}

div.content-page--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    color: #fff;
}

.top {
    display: flex;
    justify-content: space-around;
    max-width: 1800px;
    min-height: 60%;
}

.top--home {
    max-width: none;
    flex-wrap: wrap;
    min-height: auto;
    width: 100%;
    padding: 1rem;
}

/* left */
.top__avatar {
    background-color: #172A45;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    animation: backInLeft 1.5s ease-in-out forwards;
}

.avatar__image svg {
    max-width: 100%;
    width: 400px;
    height: 400px;
}

.avatar__content {
    margin-top: 2rem;
    text-align: center;
}

.avatar__title {
    font-size: 1.5rem;
}

.avatar__title:hover {
    animation: jello 1s ease-in-out forwards;
}

.avatar__description {
    font-size: 1.2rem;
}

.avatar__description {
    color: rgb(136, 146, 176)
}

/* right */
.top__biography {
    background-color: #172A45;
    min-height: 80%;
    border-radius: 5px;
    width: 50%;
    animation: bounceInY 1s ease-in-out forwards;
    animation-iteration-count: 1;
}

.top__biography--home {
    animation: backInRight 1.5s ease-in-out forwards;
    margin: 0 1rem;
    min-height: auto;
    max-width: 50%;
    width: 100%;
}

@media screen and (max-width: 1197px) {

    .top__biography--home {
        width: 100%;
        max-width: 100%;
    }

    .top__avatar {
        margin-bottom: 1rem;
    }
}

/* animation */
@keyframes bounceInY {
    0% {
        transform: translateY(-1000px);
    }

    60% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0px);
    }
}

.terminal-bar {
    font-family: 'Ubuntu', sans-serif;
    background-color: #413D43;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* button group */
.bar-btn__group {
    display: inline-block;
    white-space: nowrap;
}

/* one button */
.bar__btn {
    float: left;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-left: 7px;
}

.btn--red {
    background-color: #FA615C;
}

.btn--yellow {
    background-color: #FFBD48;
}

.btn--green {
    background-color: #3FC950;
}

.bar__name {
    font-weight: bold;
}

/* terminal line */
.biography__content {
    clear: both;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
}

.terminal-arrow {
    color: #87CB99;
    font-weight: bold;
}

.terminal-home {
    color: #68CAD3;
    font-weight: bold;
}

.terminal-echo {
    color: #33BF99;
    font-weight: bold;
}

.echo-arg {
    color: #EF7400;
}

.bottom {
    margin-top: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

.bottom__content {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    border-right: 0.12rem solid #fff;
    letter-spacing: 0.05em;
    animation: cursor 1s step-end infinite;
    animation: backInUp 1.5s ease-in-out forwards;
}

/* cursor */
@keyframes cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

.bottom__dynamic {
    font-style: normal;
    font-weight: bold;
}

@media screen and (max-width: 923px) {

    div.content-page {
        height: auto;
    }

    .top__biography {
        margin: 2rem 0;
    }
}

/*! contact page */
div.content-page--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    color: #fff;
}

.top--contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    min-width: 80%;
    width: 100%;
    min-height: 70%;
}

/*! left side */
.left--contact {
    background-color: #172A45;
    border-radius: 5px;
    width: 40%;
    padding: 1rem;
    height: 100%;
    animation: backInDown 1.5s ease-in-out forwards;
}

.contact-info {
    font-size: 1.4rem;
    cursor: pointer;
}

.contact-info:hover {
    animation: bounce 1s ease-in-out forwards;
}

.contact-info>i {
    float: left;
}

.info__paragraph {
    font-size: 1rem;
}

.map {
    margin-top: 2rem;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

/*! right side */
.right--contact {
    background-color: #172A45;
    border-radius: 5px;
    height: 100%;
    width: 45%;
    padding: 1rem;
    animation: backInUp 1.5s ease-in-out forwards;
}

.field {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1.4rem;
}

.field>input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 2.5px;
    caret-color: #172A45;
}

.field>input:focus,
textarea:focus {
    animation: pulse 1s ease-in-out forwards;
}

.form-top {
    display: flex;
}

.form-left {
    width: 50%;
}

.form-right {
    width: 50%;
    height: 100%;
}

.form-right:active {
    animation: heartBeat 1s ease-in-out forwards;
}

/* button */
.btn-container {
    justify-content: center;
    align-items: center;
}

.submit {
    width: 25%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.field-error {
    color: #CE4C3F;
    font-size: 1.1 rem;
    font-weight: bold;
}

input.input-error,
textarea.input-error {
    border: 2px solid #CE4C3F;
}

.message-send {
    color: #39F7B3;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    animation: fadeIn 1.2s ease-in-out forwards;
}

@media screen and (max-width: 1200px) {
    .top--contact {
        flex-direction: column;
        min-height: auto;
    }

    .right--contact,
    .left--contact {
        width: 90%;
        margin-bottom: 2rem;
    }
}

/*! shell page */
div.content-page--shell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: #fff;
    /* height: 100%; */
}


.shell {
    width: 100%;
    max-width: 1400px;
    margin: 1rem;
    height: 50%;
    font-family: 'Ubuntu', sans-serif;
}

.destroy {
    animation: fadeOut 1.5s ease-in forwards;
}

/* text appear when shell is broken */
.broken {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.input {
    border: none;
    background-color: #172A45;
    color: #fff;
    caret-color: transparent;
    width: auto;
    overflow-wrap: break-word;
}

.terminal-line:focus,
.input:focus {
    outline: 0;
}

.no-margin {
    margin: 0;
}

.scrolling {
    height: 100%;
}

.terminal--display {
    overflow-y: auto;
    max-height: 90%;
}

.terminal--display::-webkit-scrollbar {
    display: none;
}

.input.terminal-echo {
    color: #33BF99;
    font-weight: bold;
}

.user-comment {
    color: #EF7400;
}

/*! skills page */
div.skills {
    /* DEBUG */
    display: flex;
    align-items: center;
    justify-content: start;

    /* END */
    flex-direction: column;
    justify-content: unset;
    padding: 1rem;
}

.skills-box {
    display: flex;
    justify-content: center;
}

.shell--skills {
    height: auto;
    min-height: auto;
    animation: backInLeft 1.5s ease-in-out forwards;
}

/* pair */
.shell--skills:nth-of-type(2n) {
    animation: backInRight 1.5s ease-in-out forwards;
}

.skills-line {
    height: auto;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}

.skill-image {
    width: 150px;
    height: 150px;
    padding: 2rem;
}

.skill-image:hover {
    animation: rubberBand 1s ease-in-out forwards;
}

/*! projects page */
.project-box {
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
}

.project__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #172A45;
    padding: 1rem;
    border-radius: 5px;
    animation: backInLeft 1.5s ease-in-out forwards;
}

.project__image {
    width: 400px;
    height: 285px;
    border-radius: 5px;
}

.project__title {
    text-align: center;
}

.project__title:hover {
    animation: jello 1s ease-in-out forwards;
}

.project__link {
    display: flex;
    justify-content: center;
}

a.social__link:not(.active):hover {
    background-color: #0A192F;
    color: white;
}

div.shell--projects {
    max-width: 50%;
    margin: 0;
}

.skills-content--projects {
    font-size: 1.4rem;
    padding: 1rem;
    display: block;
}

@media screen and (max-width: 1120px) {
    .project-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project__introduction {
        margin-bottom: 1rem;
    }

    .project__image {
        max-width: 100%;
    }

    div.shell--projects {
        width: 100%;
        max-width: 100%;
    }
}


/*! icons */

.twitter {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    cursor: pointer;
    color: rgba(0, 0, 0, .6);
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    font-size: 1em;
}