{% extends "base.html.twig" %}

{% block body %}

<div class="content-page--shell content-page">
	<a href="{{ path('home')}}" class="ui animated button social__link" alt="twitter profile link" tabindex="0" target="_blank">
		<div class="visible visible--icon content">
			<p>Go to home</p>
		</div>
		<div class="hidden content">
			<i class="right arrow icon"></i>
		</div>
	</a>
</div>

{% endblock %}
